<mat-form-field appearance="fill" class="product-create">
    <mat-label>Name</mat-label>
    <input matInput #txtName>
</mat-form-field>
<mat-form-field appearance="fill" class="product-create">
    <mat-label>Stock</mat-label>
    <input type="number" #txtStock min="0" value="0" matInput>
</mat-form-field>
<mat-form-field appearance="fill" class="product-create">
    <mat-label>Price</mat-label>
    <input type="number" #txtPrice min="0" value="0" matInput>
</mat-form-field>

<button mat-raised-button class="btn" color="primary" (click)="create(txtName,txtStock,txtPrice)">Primary</button>

<hr/>
